{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/eco/style.css'%}">
    <link rel="icon"
    href="{% static 'images/free-icon-pinecone-66715.png'%}"
    sizes="32x32"
    type="image/png">
    <script src="{% static 'js/eco.js' %}" defer></script>
    <title>Shishka</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header__left">
                <a href="{%url 'main'%}"><img src="{% static 'images/free-icon-pinecone-66715.png'%}" alt="logo-image"></a>
            </div>
            <div class="header__right">
                <ul class="header__list">
                    {% comment %} <li class="header__item"><a href="{%url 'articles'%}">Новости</a></li> {% endcomment %}
                    <li class="header__item"><a href="#placeEcology">Экология</a></li>
                    {% comment %} <li class="header__item"><a href="#game">Игра</a></li>
                    <li class="header__item"><a href="#aboutUs">О нас</a></li> {% endcomment %}
                </ul>
            </div>
            <nav>
                <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>  
                    <div class="menu-items">
                        {% comment %} <li class="header__item"><a href="#placeNews">Новости</a></li> {% endcomment %}
                        <li class="header__item"><a href="#placeEcology">Экология</a></li>
                        {% comment %} <li class="header__item"><a href="#game">Игра</a></li>
                        <li class="header__item"><a href="#aboutUs">О нас</a></li> {% endcomment %}
                    </div>
                </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="main__header">
                <h1 data-title>Засуха</h1>
                <p data-p-introduction>В последние годы, во многих странах наблюдается изменение погодных условий, и Центральная Азия - неисключение. Все страны этого региона терпят огромные убытки из-за изменении погодных условий. И засуха стала главной экологической проблемой. Но как именно это влияет на нашу страну и на нас всех? Как можно повлиять на эту ситуацию в положительную сторону? Данным вопросом задается наше государство и не только. Так как эта проблема актуальна в сегодняшние дни как никогда. Поэтому, здесь, мы постараемся ответить на этот вопрос и понять всей масштабности этой экологической проблемы.</p>
            </div>
            <div class="main__body" style="display: flex; flex-direction: column;" data-topics-item-container>
                    <div>
                        <div>
                            <img  
                                src="https://st-1.akipress.org/127/.storage/people/images/Istorii/18384d2b6177dba385e4b97693f45b3f.jpeg" 
                                alt="image" 
                                data-img
                            >
                        </div>
                        <div>
                            <h3 data-title>"Засуха в с. Байзак</h3>
                            <p data-p>Засуха в селе Байзак приводит к большим экономическим и социальным проблемам. По социальной проблеме, нехватка воды увеличивает нагрузку на женщин, так как им приходится таскать воду из отдаленных мест. Мужчинам приходится больше  тратить физический труд, которого итак не хватает в селе. Влияет это не только на мужчин или женщин, но и на детей. Из-за пыли страдают дети аллергией и болезнями дыхательных путей. Засуха также приводит к таким плохим последствиям, как сильная запыленность территории и засушливость почвы, нехватка поливной воды, увеличение площади эрозии полей, уменьшение сенокоса, из-за чего страдает урожай. Поэтому это приводит к уменьшению дохода населения из-за потерь урожая, что наносит большой урон по экономике.  </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <img  
                                src="https://newizv.ru/attachments/1ed04c413d0473de46c5db45d3aa24e616a22836/store/crop_and_fill/0/0/1092/613/1200/675/6ad5c0f9292c8215f2f28bc6270b4585b1fca7eee82c49927a38bd1e4532/6ad5c0f9292c8215f2f28bc6270b4585b1fca7eee82c49927a38bd1e4532.jpg" 
                                alt="image" 
                                data-img
                            >
                        </div>
                        <div>
                            <h3 data-title>Как борятся с засухой в селе Байзак?</h3>
                            <p data-p>Село Байзак пытается разными способами бороться с засухой. Например, Строят бункера и набирают питьевую воду ночью, а днем путем капельного орошения поливают огороды, благодаря чему они используют меньше воды. Также строят небольшие искусственные водоему, БСР, и через арычную сеть орошают поля и огороды. Сельчане тоже сами пытаются решать эту проблему. Например, внедряют технологию капельного орошения и выращивать такие овощные культуры и плодовые деревья, которые более выносливы к засухам.  </p>
                        </div>
                    </div>
            </div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/3m0i5JKv5iQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </main>
    <footer>
        <div class="footer__left"></div>
        <div class="footer__right"></div>
    </footer>
</body>
</html>
{%endblock%}